@using BlogApp.Web.Models.Entities

@model List<ViewPostVM>
<h1>Home View</h1>
@{
    var user_id = Context.Session.GetString("user_id");
}
@user_id
<a asp-controller="User" asp-action="CreatePost">Add Post</a>

<div class="post-container">

</div>

<script>
    $(document).ready(function () {
        loadPostData();

        $('.post-container').on('click', '.page-link', function (e) {
            var curPage = $(this).data('page');
            console.log(curPage);
            loadPostData(curPage);
        });
    });

    function loadPostData(page=1) {
        $.ajax({
            url: '@Url.Action("LoadPostDataPartialView", "User")',
            type: 'GET',
            data: {pg: page},
            success: function(response) {
                $('.post-container').html(response);
            },
            error: function (xhr, status, error) {
                console.error('Error loading Post Data:', error);
            }
        });
    }
</script>